@import '../../variables.scss';

.cards-container {
   height: 100vh;
   width: clamp(100px, 50vw, 500px);
   background: url('../../images/bg-main-desktop.png') no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;

   @media (max-width: 1100px) {
      height: auto;
      background: url('../../images/bg-main-mobile.png') no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
   }
}
